<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<header id="header"></header>

<div class="container-fluid">
    <sidebar id="sidebar"></sidebar>
    <main class="container pt-lg-3">
        <div class="row mb-lg-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 mr-2">
                <img src="/images/profile/avatar.jpeg" alt="avatar" width="128" height="128">
            </div>
            <div class="col-lg">
                <div class="row flex-row-reverse">
                    <button class="btn btn-outline-secondary">Network profile</button>
                    <button class="btn btn-outline-secondary mr-lg-1">&#9999;Edit profile</button>

                </div>
                <h1 class="mb-2">username</h1>
                <div class="row w-70">
                    <div class="tag__item mr-lg-2 align-items-center">
                        <img src="/images/icons/cake.svg" alt="cake" width="18" height="18">
                        <span class="text-secondary pl-lg-1">Member for 2 months</span>
                    </div>
                    <div class="tag__item mr-lg-2 align-items-center">
                        <img src="/images/icons/watch.svg" alt="watch" width="18" height="18">
                        <span class="text-secondary pl-lg-1">Last seen this week</span>
                    </div>
                    <div class="tag__item mr-lg-2 align-items-center">
                        <img src="/images/icons/calendar.svg" alt="calendar" width="18" height="18">
                        <span class="text-secondary pl-lg-1">Visited 14 days, 1 consecutive</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <ul class="nav nav-pills mb-lg-3">
                <li class="nav-item">
                    <a class="nav-link" href="#!">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#!">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Saves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Settings</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="#!">Summary</a>
                        <a class="nav-link" href="#!">Answers</a>
                        <a class="nav-link" href="#!">Questions</a>
                        <a class="nav-link" href="#!">Tags</a>
                        <a class="nav-link" href="#!">Articles</a>
                        <a class="nav-link" href="#!">Badges</a>
                        <a class="nav-link" href="#!">Following</a>
                        <a class="nav-link" href="#!">Bounties</a>
                        <a class="nav-link" href="#!">Reputation</a>
                        <a class="nav-link" href="#!">All actions</a>
                        <a class="nav-link" href="#!">Responses</a>
                        <a class="nav-link" href="#!">Votes</a>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="title">
                        <h2>Summary</h2>
                    </div>
                    <div class="card-columns">
                        <div class="card mr-lg-1">
                            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title
                                    and make up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card mr-lg-1">
                            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title
                                    and make up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card mr-lg-1">
                            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title
                                    and make up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

<footer id="footer"></footer>
<script src="/js/header.js"></script>

<script src="/js/sidebar.js"></script>

<script src="/js/footer.js"></script>


<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


</body>
</html>